




/* General */
hr {
    border-color: white;
}

.text-align-r {
    text-align: right;
}

.col {
    width: 50%;
}

.overlay-color {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.global-font-color {
    color: white;
}

.index-logo {
    max-width: 80%;
}


/* backgrounds
    background-image:url(/m/img/main/bg.png);
     */
/* .main-bg {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #16141A;
    display: block;
} */


/* Nav Bar */
#navbar {
    border-radius: 1px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    margin-top: -10px;
    display: block;
    transition: top 0.3s;
}

.navbar-dark {
    color: white;
}

.navbar-brand {
    padding-left: 20px;
}

.navbar-toggler {
    border: none;
    outline: none;
    box-shadow: none;
}

.navbar-toggler:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.navbar-toggler:active {
    border: none;
    outline: none;
    box-shadow: none;
}


.navbar-valk {
    background-color: rgba(22, 20, 26, 0.5);
    border-radius: 1px;
    transition: top 0.3s;
}

.navbar-valk.scrolled {
    background-color: rgba(22, 20, 26, 0.5);
    border-radius: 1px;
    transition: top 0.3s;
}

.navbar-collapse-valk.show {
    background-color: rgba(22, 20, 26, 0.5);
    border-radius: 1px;
    width: 100%;
}

.nav-logo {
    height: 45px;
    display: block;
}


/* Main */
.main-logo {
    height: 100px;
}

.main-text {
    font-size: 1.1em;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.main-text-head {
    font-size: 1.5em;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


/* Link */
a:link {
    color: rgb(199, 199, 199);
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: rgb(199, 199, 199);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:active {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


/* Puller */
.pull-center {
    text-align: center;
}

.pull-right {
    padding-right: 60px;
}

.pull-left {
    padding-right: 60px;
}

.pull-down {
    padding-top: 20px;
}

.pull-down-nav-text {
    padding-top: 12px;
}

.pull-down-nav {
    padding-top: 10px;
}

.pull-down-main {
    padding-top: 100px;
}

.pull-down-footer {
    padding-top: 10px;
}

.pull-up {
    margin-top: -20px;
}

.pull-up-head {
    margin-top: -200px;
}

.pull-up-slide {
    margin-top: -50px;
}


/* Center */
.center-max80 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.center-max90 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}

.center-max95 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



/* placeholder */
::-webkit-input-placeholder { /* Edge */
    color: white;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

::placeholder {
    color: white;
}



/* scroll bar */
::-webkit-scrollbar {
    width: 10px;
	border: 1px solid white;
}

::-webkit-scrollbar-track {
    background: lightgrey; 
}

::-webkit-scrollbar-thumb {
    background: grey; 
	border: 1px solid white;
}

::-webkit-scrollbar-thumb:hover {
    background: darkgrey; 
}



/* burger menu */
.burger-x {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}